<!doctype html>
<html>
    <head>
        <base href="/"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="fragment" content="!">

        <title><%= meta.title %></title>
        <meta name="description" content="<%= meta.description %>" />
        <meta name="keywords" content="webradio, radio, riplive, radio illusioni parallele, charts, ripfactor, songs, artists" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta property="fb:app_id" content="1380026972276511" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.riplive.it<%= meta.path %>" />
        <meta property="og:title" content="<%= meta.title %>" />
        <meta property="og:description" content="<%= meta.description %>" />
        <meta property="og:image" content="<%= meta.image %>" />
        <meta property="og:site_name" content="Riplive.it" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@ripliveit">
        <meta name="twitter:creator" content="@ripliveit">
        <meta name="twitter:title" content="<%= meta.title %>">
        <meta name="twitter:description" content="<%= meta.description %>">
        <meta name="twitter:image:src" content="<%= meta.image %>">

        <link rel="shortcut icon" href="favicon.ico?v=1" />

        <% if (env === 'production') { %>
            <link rel="stylesheet" href="css/style.min.css">
        <% } else { %>
            <link rel="stylesheet" href="css/style.css">
        <% } %>

        <link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />

        <!-- Google Code for Tracciamento sito Conversion Page -->
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 951680517;
        var google_conversion_label = "_SZsCNrWm3sQhfzlxQM";
        var google_remarketing_only = false;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/951680517/?label=_SZsCNrWm3sQhfzlxQM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-25065139-1', 'riplive.it');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>
    </head>

    <body ng-app="riplive">
        <main id="container">
            <div id="inner-wrapper" class="container-fluid">
                <aside id="side-menu" class="menu-closed" ng-include src="'js/app/templates/side-menu.html'" toggle-side-menu></aside>

                <header id="header" class="header">
                    <nav id="navbar" class="navbar">
                        <a id="small-logo" href="http://www.riplive.it">
                            <img src="img/logo_small.svg" alt="Radio Illusioni Parallele" title="Radio Illusioni Parallele" />
                        </a>

                        <ul class="nav navbar-nav navbar-right">
                            <nav-controls></nav-controls>
                        </ul>
                    </nav>
                </header>

                <div class="adv adv-leaderboard leaderboard-home hidden-xs">
                    <adv-unit format="superbanner-alto_mb"></adv-unit>
                </div>

                <section id="on-air" class="on-air-closed" ng-controller="OnAirCtrl">
                    <div id="on-air-inner" toggle-on-air>
                        <song-picture data-song="song"></song-picture>

                        <streaming-player data-audio="'http://192.240.97.68:8002/stream'"
                            data-autoplay="true"
                            data-show-controls="true"
                            data-is-streaming="true">
                        </streaming-player>

                        <vote-song data-id-song="song.id_song"></vote-song>
                    </div>
                </section>

                <div id="main" class="container-fluid" ng-view autoscroll="true"></div>

                <div class="adv-banner-footer hidden-xs">
                    <div class="adv adv-banner">
                        <adv-unit format="468x60"></adv-unit>
                    </div>
                </div>

                <footer id="footer">
                    <div id="credits" class="col-lg-6 col-lg-offset-3">
                        <div class="footer-social">
                            <back-on-top></back-on-top>
                        </div>

                        <br/>

                        <div class="footer-social">
                            <a href="http://www.static.riplive.it/feed/" class="btn btn-sm btn-neutral" title="Abbonati al nostro Feed RSS">
                                <span class="fa fa-rss"></span>
                            </a>
                            <a href="https://www.facebook.com/riplive" class="btn btn-sm btn-neutral" title="Seguici su Facebook">
                                <span class="fa fa-facebook"></span>
                            </a>
                            <a href="https://twitter.com/webrip" class="btn btn-sm btn-neutral" title="Seguici su Twitter">
                                <span class="fa fa-twitter"></span>
                            </a>
                            <a href="https://plus.google.com/+RipliveIt/posts" class="btn btn-sm btn-neutral" title="Seguici su Google Plus">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </div>

                        <br/>

                        <span>
                            @ 2015 Riplive.it
                        </span>

                        <br/>

                        <a href="https://www.google.it/maps/place/Radio+Illusioni+Parallele/@45.57476,8.9223407,641m/data=!3m2!1e3!4b1!4m2!3m1!1s0x47868d3c2d0e5705:0x5b92244f59f0fb11?hl=it">
                            Via Alberto da Giussano, Canegrate, MI
                        </a>

                        <br/>

                        <span>
                            P.Iva / VAT code 92049760157
                        </span>
                    </div>
                </footer>
            </div>
        </main>

        <div id="media-query" class="visible-xs"></div>
        <div id="analytics" analytics></div>

        <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>

        <% if (env === 'production') { %>
            <script src="js/bundle.min.js"></script>
        <% } else { %>
            <script src="js/bundle.js"></script>
        <% } %>
    </body>
</html>
